*.iml
/Photogram/.gradle
/Photogram/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/Photogram/local.properties
*.jpg
/djangorest/db.sqlite3
djangorest/db.sqlite3
djangorest/db.sqlite3
